{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <table id="Products" class="table">
        <thead class="thead-light">
            <tr>
                <th class="th-sm">ID</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Price</th>
                <th class="th-sm">Image</th>
                <th class="th-sm">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in results.items %}
            <tr>
                <th>{{product.id}}</th>
                <th><a href="{{ url_for('details', productID=product.id)}}">{{product.title}}</a></th>
                <th>{{product.image}}</th>
                <th>{{product.price}}</th>
                <th>
                    <form method="post" id={{product.id}}>
                        <button type="button" id={{product.id}} onclick="location.href = '{{ url_for('delete', productID=product.id)}}';">Delete button!</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% for page_num in results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if results.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('listProducts', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('listProducts', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    
</div>


{% endblock content %}