{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">ID</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Price</th>
                <th class="th-sm">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in results %}
            <tr>
                <th>{{product.id}}</th>
                <th>{{product.title}}</th>
                <th>{{product.image}}</th>
                <th>{{product.price}}</th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </tfoot>
    </table>
    
</div>


{% endblock content %}